@use '../../../custom-theme' as *;
@use '@angular/material' as mat;

mat-sidenav-container {
 height: 92%;
}
  
mat-sidenav {
  width: 250px;
  background-color: #eee;
  color: white;
}

mat-nav-list {
  margin-top: 5px;
  display: block;
}

.mat-item {
  margin: 7px 10px;
  padding: 8px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: mat.m2-get-color-from-palette($m2-accent, 600);

  &:hover {
    background-color: #d5d5d5;
    cursor: pointer;
  }
}

.nav-icon {
  margin-left: 15px;
  margin-right: 5px;
}

.with-icon {
  font-size: 16px;
}

a.active {
  background-color: mat.m2-get-color-from-palette($m2-accent, 600);
  color: #f7f7f7;

  &:hover {
    background-color: mat.m2-get-color-from-palette($m2-accent, 600); 
  }
}
