mat-toolbar {
  height: 8%;
}

.avatar {
    border-radius: 50%;
    width: 30px; 
    height: 30px;
  }

.avatar-button {
    background-color: transparent;
    border: none;
    display: flex;
    margin-left: auto;
  }