<mat-card class="login-card">
    <mat-tab-group>
        <mat-tab label="Login">
            <mat-card-content>
                <mat-form-field appearance="outline">
                    <mat-label>Login</mat-label>
                    <input matInput>
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>Password</mat-label>
                    <input matInput>
                </mat-form-field>
                <button mat-flat-button color="accent" class="button-container">Login</button>
            </mat-card-content>
        </mat-tab>

        <mat-tab label="Sign up">
            <mat-card-content>
                <mat-form-field appearance="outline">
                    <mat-label>Login</mat-label>
                    <input matInput>
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>Email</mat-label>
                    <input matInput>
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>Password</mat-label>
                    <input matInput>
                </mat-form-field>
                <button mat-flat-button color="accent" class="button-container">Sign up</button>
            </mat-card-content>
        </mat-tab>
    </mat-tab-group>
</mat-card>